# Database connection string
# Standard local PostgreSQL instance:
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_campus?schema=public"

# JWT Secret for Session Cookies
JWT_SECRET="super-secret-smart-campus-management-key-change-in-production-2024"

# Application Config
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Smart Campus Portal"
ATTENDANCE_WARNING_THRESHOLD=75
